.alert {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: stretch;
  background-color: rgb(248, 249, 250);
  color: rgb(73, 80, 87);
  border-radius: 0.25rem;
  margin-top: 1rem;
  max-width: 800px;
}

.alert-icon {
  background-color: rgb(215, 220, 225);
  color: rgb(124, 132, 140);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: .75rem .5rem;
  font-size: 1.25rem;
}

.alert-message {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem .75rem 1rem;
  line-height: 1.5;
}

.alert-title {
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-size: .9rem;
  font-weight: 600;
}

.alert-message p {
  margin-top: 0;
  margin-bottom: .5rem;
}

.alert-message ul {
  margin: 0;
}

.alert-message li {
  display: inline-block;
  padding-right: 1rem;
  margin-bottom: 0;
}

.alert-action {
  margin-top: 1rem;
}

.alert button {
  color: #0073aa;
}

.alert button:hover {
  color: #00a0d2;
}

/* type: warning */
.alert-warning {
  background: rgb(255, 249, 219);
}

.alert-warning .alert-icon {
  background: rgb(255, 224, 102);
  color: rgb(250, 176, 7);
}
