.explanation {
  max-width: 500px;
}

.table-header th {
  font-weight: bold;
}

button.more-less {
  border: 0;
  background: none;
}

.warning {
  background-color: #fdfdf3;
  max-width: 600px;
  padding: 1.5em;
  border-radius: 5px;
  border: 1px solid black;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.status .icon {
  font-size: 24px;
}

.status.good .icon, .success-icon {
  color: green;
}

.status.conflict .icon, .conflict-icon {
  color: red;
}

.status.warning .icon, .warning-icon {
  color: #b7b700;
}

.space-left {
  margin-left: 1rem;
}

.input-radio-custom ~ label .checked-icon, .input-checkbox-custom ~ label .checked-icon {
    display:none;
    opacity:0;
}

.input-radio-custom:checked ~ label .checked-icon, .input-checkbox-custom:checked ~ label .checked-icon{
    display:block;
    opacity:1.0;
}

.input-radio-custom:checked ~ label .unchecked-icon, .input-checkbox-custom:checked ~ label .unchecked-icon{
    display:none;
    opacity:0;
}

.input-checkbox-custom:checked ~ label .option-label-explanation {
    color: #495057;
}

.input-checkbox-custom:checked ~ label .option-label-explanation a {
    color: #495057;
}

.input-checkbox-custom:checked ~ label .option-label-explanation a:hover,
.input-checkbox-custom ~ label .option-label-explanation a:hover {
    color: #228be6;
    text-decoration-color: initial;
}

