.submit-status {
  padding-left: 1em;
}

div.submit-status.fail {
  display: flex;
	margin-top: 1em;
	background-color: #fda09a;
	border-radius: 5px;
	max-width: 450px;
	padding: 1em;
}

div.submit-status.fail .fail-icon-container{
  margin-top: auto;
  margin-bottom: auto;
}

div.submit-status.fail .explanation{
  max-width: 400px;
}

.submit-status .explanation {
  padding-left: 1em;
}

.submit-status.success .icon {
  color: green;
}

.release-provider-error {
  color: red;
}

.label-hint {
  margin-left: 0.5em;
  font-weight: normal;
  font-style: italic;
  font-size: 13px;
  color: #666;
}

.label-hint a {
  margin-left: 0.5em;
}

.warning-banner {
  display: flex;
  width: 100%;
}

.warning-banner svg {
  margin-right: .5em;
  margin-bottom: .125em;
}

.option-header {
    width: 30%;
    font-weight: bold;
    font-size: larger;
}

.option-choices {
  display: flex;
  flex-direction: row;
}

.option-choice {
    width: 50%;
}

.option-choice-container {
    display: flex;
    flex-direction: column;
    width: 70%
}

.option-explanation {
  font-style: italic;
}

.option-explanation > ul {
    list-style: none;
    margin-left: 2em;
}

.option-label {
    display: flex;
    flex-direction: flex-row;
}

.option-label-text {
    margin-left: 5px;
}

.option-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
    .options-setter {
        width: 66%;
    }
}

.options-setter button {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.options-setter button svg {
    margin-right: 0.5em;
}

.features .option-label-text {
    font-weight: bold;
}

.features .option-choice {
    width: 100%;
    margin-bottom: 1.5rem;
}

.option-label-explanation {
    display: block;
    font-weight: normal;
    line-height: 1.5;
    margin-top: .25rem;
    color: #868e96;
}

.option-label-explanation a {
    color: #868e96;
    transition: all .1s ease-in;
    margin-left: .25rem;
    margin-right: .25rem;
    text-decoration-color: rgba(0,0,0,0.15);
}

.input-radio-custom ~ label .checked-icon, .input-checkbox-custom ~ label .checked-icon {
    display:none;
    opacity:0;
}

.input-radio-custom:checked ~ label .checked-icon, .input-checkbox-custom:checked ~ label .checked-icon{
    display:block;
    opacity:1.0;
}

.input-radio-custom:checked ~ label .unchecked-icon, .input-checkbox-custom:checked ~ label .unchecked-icon{
    display:none;
    opacity:0;
}

.input-checkbox-custom:checked ~ label .option-label-explanation {
    color: #495057;
}

.input-checkbox-custom:checked ~ label .option-label-explanation a {
    color: #495057;
}

.input-checkbox-custom:checked ~ label .option-label-explanation a:hover,
.input-checkbox-custom ~ label .option-label-explanation a:hover {
    color: #228be6;
    text-decoration-color: initial;
}

