.submit-status {
  padding-left: 1em;
}

div.submit-status.fail {
  display: flex;
	margin-top: 1em;
	background-color: #fda09a;
	border-radius: 5px;
	max-width: 450px;
	padding: 1em;
}

div.submit-status.fail .fail-icon-container{
  margin-top: auto;
  margin-bottom: auto;
}

div.submit-status.fail .explanation{
  max-width: 400px;
}

.submit-status .explanation {
  padding-left: 1em;
}

.submit-status.success .icon {
  color: green;
}

.release-provider-error {
  color: red;
}

.label-hint {
  margin-left: 0.5em;
  font-weight: normal;
  font-style: italic;
  font-size: 13px;
  color: #666;
}

.label-hint a {
  margin-left: 0.5em;
}

.warning-banner {
  display: flex;
  width: 100%;
}

.warning-banner svg {
  margin-right: .5em;
  margin-bottom: .125em;
}

.pseudo-elements-screenshot {
    width: 100%;
}

.options-setter.blur {
    background-color: blue;
}
