.submit-status {
  padding-left: 1em;
}

.submit-status .explanation {
  padding-left: 1em;
}

.submit-status.success .icon {
  color: green;
}

.release-provider-error {
  color: red;
}

.label-hint {
  margin-left: 1em;
  font-weight: normal;
  font-style: italic;
  font-size: 13px;
  color: #666;
}
