.unregistered-clients th {
  vertical-align: top;
}

.unregistered-clients th .column-label {
  font-weight: bold;
}

.block-all-container, .remove-all-container {
  margin-top: .5rem;
}

.checkbox-label {
  display: flex;
}
