.unregistered-clients table {
    width: unset;
}

.unregistered-clients th {
    vertical-align: bottom;
}

.unregistered-clients th .column-label {
    font-weight: bold;
}

.block-all-container, .remove-all-container {
    margin-bottom: 1em;
}

.checkbox-label {
    display: flex;
}
