.v3-deprecation-warning {
    border: 1px solid black;
    background-color: #fdfdf3;
    padding: 1.5em;
    display: inline-block;
}

.snooze-button {
    padding: .5rem;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
}

.snooze-button:hover {
    cursor: pointer;
}

.snooze-button .label {
    margin-left: 1em;
}
