*.swp
.DS_Store
.idea
.env.local
vendor
wp-dist
*.zip
*.log
node_modules/
wp-svn/
phpdoc-data/
ast.dump
volumes/
!/**/.gitkeep
.vscode/
tmp/
webpack-stats.html
webpack-stats.json
.phpunit.result.cache
admin/src/playwright/.auth/
admin/artifacts/
admin/test-results/
.npmrc
.php-cs-fixer.cache
