version: '3.3'

services:
   db:
     image: mysql:5.7
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     ports:
       - "3306:3306"
     environment:
       MYSQL_ROOT_PASSWORD: somewordpress
       MYSQL_DATABASE: wordpress
       MYSQL_USER: wordpress
       MYSQL_PASSWORD: wordpress
     container_name: "com.fontawesome.wpdb"

   wordpress:
     depends_on:
       - db
     image: wordpress-fontawesome-dev:latest
     ports:
       - "8080:80"
     restart: always
     volumes:
       - .:/var/www/html/wp-content/plugins/font-awesome-official
       - ./integrations/themes/theme-alpha:/var/www/html/wp-content/themes/theme-alpha
       - ./integrations/plugins/plugin-beta:/var/www/html/wp-content/plugins/plugin-beta
       - ./integrations/plugins/plugin-gamma:/var/www/html/wp-content/plugins/plugin-gamma
       - ./integrations/plugins/plugin-delta:/var/www/html/wp-content/plugins/plugin-delta
       - ./integrations/plugins/plugin-epsilon:/var/www/html/wp-content/plugins/plugin-epsilon
       - ./integrations/plugins/plugin-zeta:/var/www/html/wp-content/plugins/plugin-zeta
       - ./integrations/plugins/plugin-eta:/var/www/html/wp-content/plugins/plugin-eta
     extra_hosts:
       - "dockerhost:169.254.254.254"
     env_file:
       - .env
     environment:
       WORDPRESS_DB_HOST: db:3306
       WORDPRESS_DB_USER: wordpress
       WORDPRESS_DB_PASSWORD: wordpress
     container_name: "com.fontawesome.wordpress"
volumes:
    db_data:
