version: '3.3'

services:
   db:
     image: mysql:5.7
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     ports:
       - "3306:3306"
     environment:
       MYSQL_ROOT_PASSWORD: somewordpress
       MYSQL_DATABASE: wordpress
       MYSQL_USER: wordpress
       MYSQL_PASSWORD: wordpress
     container_name: "com.fontawesome.wpdb"

   wordpress:
     depends_on:
       - db
     build: .
     ports:
       - "8000:80"
     restart: always
     volumes:
       - ./font-awesome:/var/www/html/wp-content/plugins/font-awesome
       - ./integrations/themes/theme-alpha:/var/www/html/wp-content/themes/theme-alpha
       - ./integrations/plugins/plugin-beta:/var/www/html/wp-content/plugins/plugin-beta
       - ./integrations/plugins/plugin-gamma:/var/www/html/wp-content/plugins/plugin-gamma
       - ./integrations/plugins/plugin-delta:/var/www/html/wp-content/plugins/plugin-delta
     environment:
       WORDPRESS_DB_HOST: db:3306
       WORDPRESS_DB_USER: wordpress
       WORDPRESS_DB_PASSWORD: wordpress
     container_name: "com.fontawesome.wp"
volumes:
    db_data:
