<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
  		<const name="LOAD_PLUGIN" value="false"/>
	</php>
	<groups>
		<exclude>
			<group>slow</group>
		</exclude>
	</groups>
	<testsuites>
		<testsuite name="Default Test Suite">
			<directory prefix="test-" suffix=".php">./tests/loader</directory>
		</testsuite>
	</testsuites>
</phpunit>
