.container {
  position: fixed;
  font-family: sans-serif;
  right: 10px;
  bottom: 10px;
  width: 30%;
  max-width: 80%;
  height: auto;
  max-height: 60%;
  border: 1px solid lightgrey;
  background: white;
  z-index: 99;
  overflow-y: scroll;
  font-size: 13px;
  line-height: 1.4em;
  color: #444;
}

.container h1 {
  font-size: 26px;
}

.container p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.content {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}